@model CRUD_Alumnos.Models.RegistroNotas

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>RegistroNotas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Materia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMateria)
        </dd>

        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            Nota 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota1)
        </dd>

        <dt>
            Nota 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota2)
        </dd>

        <dt>
            Nota 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota3)
        </dd>

        <dt>
            Nota 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
